In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [13]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [14]:
X= dataset.iloc[:,3:13].values
type(X)

numpy.ndarray

In [15]:
X.shape

(10000, 10)

In [16]:
y= dataset.iloc[:,13].values
type(y)

numpy.ndarray

In [17]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder= LabelEncoder()
X[:,2] = labelencoder.fit_transform(X[:,2])
X[:,1] = labelencoder.fit_transform(X[:,1])
X

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [18]:
from sklearn.compose import ColumnTransformer
ct= ColumnTransformer([("Country",OneHotEncoder(), [1])],remainder = 'passthrough')
X= ct.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [21]:
X= pd.DataFrame(X,columns = ["X1","X2","X3","Credit Score","Gender","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary"])

In [22]:
X

,X1,X2,X3,Credit Score,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1.0,0.0,0.0,619,0,42,2,0.0,1,1,1,101348.88
1,0.0,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58
2,1.0,0.0,0.0,502,0,42,8,159660.8,3,1,0,113931.57
3,1.0,0.0,0.0,699,0,39,1,0.0,2,0,0,93826.63
4,0.0,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,771,1,39,5,0.0,2,1,0,96270.64
9996,1.0,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77
9997,1.0,0.0,0.0,709,0,36,7,0.0,1,0,1,42085.58
9998,0.0,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52
9999,1.0,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78

In [23]:
X=X.drop("X1",axis=1)
X

,X2,X3,Credit Score,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0.0,0.0,619,0,42,2,0.0,1,1,1,101348.88
1,0.0,1.0,608,0,41,1,83807.86,1,0,1,112542.58
2,0.0,0.0,502,0,42,8,159660.8,3,1,0,113931.57
3,0.0,0.0,699,0,39,1,0.0,2,0,0,93826.63
4,0.0,1.0,850,0,43,2,125510.82,1,1,1,79084.1
...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,771,1,39,5,0.0,2,1,0,96270.64
9996,0.0,0.0,516,1,35,10,57369.61,1,1,1,101699.77
9997,0.0,0.0,709,0,36,7,0.0,1,0,1,42085.58
9998,1.0,0.0,772,1,42,3,75075.31,2,1,0,92888.52
9999,0.0,0.0,792,0,28,4,130142.79,1,1,0,38190.78

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
import keras
from keras.models import Sequential
from keras.layers import Dense
classifier = Sequential()
classifier.add(Dense(units = 6,kernel_initializer = 'uniform', activation ='relu',input_dim = 11))
classifier.add(Dense(units = 6,kernel_initializer = 'uniform', activation ='relu'))
classifier.add(Dense(units = 1,kernel_initializer = 'uniform', activation ='sigmoid'))
classifier.compile(optimizer = 'adam',loss='binary_crossentropy',metrics = ['accuracy'])
classifier.fit(X_train,y_train, batch_size=10,epochs = 100)

Epoch 1/100
800/800 [==============================] - 3s 2ms/step - loss: 0.4898 - accuracy: 0.7960
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4280 - accuracy: 0.7960
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4231 - accuracy: 0.7960
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4193 - accuracy: 0.8152
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4165 - accuracy: 0.8232
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4147 - accuracy: 0.8286
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4132 - accuracy: 0.8288
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8307
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8326
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4088 - accuracy: 0.8334
Epoch 11/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4080 - accuracy: 0.8331
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8332
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8341
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8339
Epoch 15/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4052 - accuracy: 0.8339
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8347
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8346
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4040 - accuracy: 0.8350
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4038 - accuracy: 0.8355
Epoch 20/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4036 - accuracy: 0.8338
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4034 - accuracy: 0.8351
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4028 - accuracy: 0.8367
Epoch 23/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4027 - accuracy: 0.8342
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4028 - accuracy: 0.8341
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8345
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4023 - accuracy: 0.8351
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8350
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8351
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4019 - accuracy: 0.8353
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8354
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8345
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8354
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8340
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8347
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8353
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8340
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8345
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8346
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8354
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8347
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8361
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8346
Epoch 43/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8353
Epoch 44/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8369
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8347
Epoch 46/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4009 - accuracy: 0.8357
Epoch 47/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8346
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8355
Epoch 49/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8366
Epoch 50/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8336
Epoch 51/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8345
Epoch 52/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8344
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8363
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4004 - accuracy: 0.8361
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4004 - accuracy: 0.8350
Epoch 56/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8356
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8356
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8364
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8355
Epoch 60/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4003 - accuracy: 0.8369
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8365
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4002 - accuracy: 0.8361
Epoch 63/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3996 - accuracy: 0.8363
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4000 - accuracy: 0.8363
Epoch 65/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4004 - accuracy: 0.8355
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8347
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8367
Epoch 68/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8351
Epoch 69/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8342
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8367
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8365
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8349
Epoch 73/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8351
Epoch 74/100
800/800 [==============================] - 3s 3ms/step - loss: 0.4001 - accuracy: 0.8361
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8356
Epoch 76/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8363
Epoch 77/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8357
Epoch 78/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4000 - accuracy: 0.8345
Epoch 79/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8354
Epoch 80/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3999 - accuracy: 0.8364
Epoch 81/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8354
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3996 - accuracy: 0.8355
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3994 - accuracy: 0.8370
Epoch 84/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3995 - accuracy: 0.8349
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8357
Epoch 86/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3991 - accuracy: 0.8369
Epoch 87/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3992 - accuracy: 0.8379
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8351
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8365
Epoch 90/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3998 - accuracy: 0.8356
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3994 - accuracy: 0.8356
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3996 - accuracy: 0.8354
Epoch 93/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8347
Epoch 94/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8354
Epoch 95/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3996 - accuracy: 0.8356
Epoch 96/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3995 - accuracy: 0.8366
Epoch 97/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3997 - accuracy: 0.8353
Epoch 98/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3989 - accuracy: 0.8357
Epoch 99/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3993 - accuracy: 0.8354
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3999 - accuracy: 0.8350